@import "_functions";
@import "_mixins";
@import "_variables";

.node--lb.node--type-lb-event.node--view-mode-related-content {
  border-radius: var(--wsBorderRadius, unset);
  border: var(--wsBorderStyle , none);
  text-align: var(--wsTextAlignment, unset);
  box-shadow: var(--wsBoxShadow, none);
  padding: 0 20px 20px;
  height: 100%;
  margin: 0;
  overflow: auto;

  // Set an outline on the container on hover.
  &:hover {
    outline: 5px auto var(--wsPrimaryColor, Highlight);
    outline: 5px auto var(--wsPrimaryColor, -webkit-focus-ring-color);
    cursor: pointer;

    // Keep the underline on the h3.
    h3 a {
      text-decoration: underline;
    }
  }

  .related-event {

    &-image {
      position: relative;
    }

    &-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--ylb-color-white, white);
      font-size: 32px;
      line-height: 40px;
      font-family: var(--ylb-font-family-cachet, Cachet), Verdana, sans-serif;
      font-weight: 500;
      text-align: center;
      width: 80px;
      height: 80px;
      background: rgba(var(--wsPrimaryColorRGB, 35, 31, 32), 0.8);
      position: absolute;
      bottom: 0;
      left: -20px;
      border-top-right-radius: var(--wsBorderRadius, unset);

      &--month {
        font-size: 18px;
        line-height: 22px;
      }

      &--sticky {
        font-size: 12px;
        background-color: var(--wsTertiaryColor, #636466);
        line-height: 18px;
        margin-top: -18px;
        border-top-right-radius: var(--wsBorderRadius, unset);
      }
    }

    .field-header-image {
      width: calc(100% + 40px);
      margin: 0 -20px 20px;

      img {
        border-radius: 0;
        width: 100%;
      }
    }

    &-time,
    &-location {
      font-size: 18px;
      line-height: 26px;
      margin-top: 20px;
      display: flex;
      justify-content: var(--wsFlexAlignment, unset);

      .bi {
        vertical-align: text-bottom;
        color: var(--wsTertiaryColor, var(--ylb-color-grey-1, #636466));
        font-size: 14px;
        margin-right: 20px;
      }
    }

    &-time {
      time {
        display: contents;
      }
    }

    &-location {
      a {
        color: var(--wsPartnerColor, var(--ylb-color-blue-dark, #0060af));
      }
    }
  }


  .wrapper-field-tags {
    margin-bottom: 20px;
    margin-top: 0;
  }

  h3 {
    margin-bottom: 20px;

    a {
      color: var(--wsPrimaryColor, black);
      font-family: var(--ylb-font-family-cachet, Cachet), Verdana, sans-serif;
      font-weight: 500;
      font-size: 30px;
      line-height: 32px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .body {
    margin-top: 0;
    font-family: var(--ylb-font-family-verdana, Verdana), sans-serif;
    font-size: 18px;
    line-height: 28px;
  }
}
